


.container{
    color: #444444;
    text-align: center;
    width: 100%;
}

.skills{
    background-color: #eaeaea;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 5%;
    padding: 2%;
}

.skills ul{
    margin: 5% 0;
    padding: 0;
    text-align: center;
}

.skills ul li{
    font-family: 'Merriweather', serif;
    list-style: none;
    margin: 2%;
    width: 100%;
}