
.projectBtn {
	background-color:#444444;
	border-radius: 10px;
	cursor:pointer;
	color:#eaeaea;
    margin: 5px;
	padding:6px 24px;
    position: relative;
    text-decoration:none;
    top: 50%;
}

.projectBtn:hover{
    color: #eaeaea;
    opacity: .8;
    text-decoration:none;
}

.projects{
    background-color: #eaeaea;
    text-align: center;
    width: 100%;
}

.project h1{
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    margin: 380px 0 20px;
}

.project{
    background-size:cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    display: inline-block;
    height: 550px;
    margin: 3% 3%;
    transition: all .2s ease-in-out;
    width: 380px;
}

.project:hover{
    text-decoration: none;
    text-shadow: 3px 3px 6px black ;
    transform: scale(1.14);
}

.tindog{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/Tindog.jpg') center no-repeat;
}
.tindog:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/Tindog.jpg') center no-repeat;
}
.simonGame{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/SimonGame.jpg') center no-repeat;
}
.simonGame:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/SimonGame.jpg') center no-repeat;
}
.diceGame{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/DiceGame.jpg') center no-repeat;
}
.diceGame:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/DiceGame.jpg') center no-repeat;
}
.drumkit{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/Drumkit.jpg') center no-repeat;
}
.drumkit:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/Drumkit.jpg') center no-repeat;
}
.blog{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/Blog.gif') center no-repeat;
    transition: all .2s ease-in-out;
}
.blog:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/Blog.gif') center no-repeat;
    height: 650px;
    width: 750px;
}
.todoList{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/TodoList.gif') center no-repeat;
    transition: all .2s ease-in-out;
}
.todoList:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/TodoList.gif') center no-repeat;
    height: 650px;
    width: 475px;
}
.secrets{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/Secrets.gif') center no-repeat;
    transition: all .2s ease-in-out;
}
.secrets:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/Secrets.gif') center no-repeat;
    height: 650px;
    width: 420px;
}
.portfolio{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/Portfolio.jpg') center no-repeat;
}
.portfolio:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/Portfolio.jpg') center no-repeat;
}
.burgerBuilder{
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../../Images/BurgerBuilder.jpg') center no-repeat;
}
.burgerBuilder:hover{
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ),url('../../Images/BurgerBuilder.jpg') center no-repeat;
}
@media screen and (max-width: 900px){
    .project{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        filter: blur(0px);
        height: 440px;
        margin-bottom: 40px;
        text-shadow: 2px 2px 3px black;
        -webkit-filter: blur(0px);
        width: 320px;
    }
    .project:hover{
        text-shadow: 2px 2px 3px black ;
        transform: scale(1);
    }
    .project h1{
        font-family: 'Nunito', sans-serif;
        font-size: 3.2rem;
        margin: 270px 0 20px;
    }
    .tindog{
        background:url('../../Images/Tindog.jpg') center no-repeat;
    }
    .tindog:hover{
        background:url('../../Images/Tindog.jpg') center no-repeat;
    }
    .simonGame{
        background:url('../../Images/SimonGame.jpg') center no-repeat;
    }
    .simonGame:hover{
        background:url('../../Images/SimonGame.jpg') center no-repeat;
    }
    .diceGame{
        background:url('../../Images/DiceGame.jpg') center no-repeat;
    }
    .diceGame:hover{
        background:url('../../Images/DiceGame.jpg') center no-repeat;
    }
    .drumkit{
        background:url('../../Images/Drumkit.jpg') center no-repeat;
    }
    .drumkit:hover{
        background:url('../../Images/Drumkit.jpg') center no-repeat;
    }
    .blog{
        background:url('../../Images/Blog.gif') center no-repeat;
    }
    .blog:hover{
        background:url('../../Images/Blog.gif') center no-repeat;
        height: 440px;
        width: 320px;
    }
    .todoList{
        background:url('../../Images/TodoList.gif') center no-repeat;
    }
    .todoList:hover{
        background:url('../../Images/TodoList.gif') center no-repeat;
        height: 440px;
        width: 320px;
    }
    .secrets{
        background:url('../../Images/Secrets.gif') center no-repeat;
    }
    .secrets:hover{
        background:url('../../Images/Secrets.gif') center no-repeat;
        height: 440px;
        width: 320px;
    }
    .portfolio{
        background:url('../../Images/Portfolio.jpg') center no-repeat;
    }
    .portfolio:hover{
        background:url('../../Images/Portfolio.jpg') center no-repeat;
    }
}


