.main{
    height: 19vh;
    margin: 20% 10%;
    text-align: center;
    width: auto;
}

.main h1{
    color: #eaeaea;
    font-family: 'Merriweather', serif;
    margin: 20px;
}

.main h2{
    color: #444444;
    font-family: 'Nunito', sans-serif;
}