.Footer{
    height: 100px;
    background-color: #eaeaea;
    color: #444444;
    position: absolute;
    width: 100%;
    display: flex;
}

.Links{
    position: relative;
    margin: auto;
    text-align: left;
}

.Name{
    position: relative;
    margin: auto;
    text-align: right;
}

i{
    color: #444444;
    margin: 0 5px;
    
}

a{
    font-size: 1.5rem;
}
